// Created by Huy on 3/3/2015.
mixin select(className, items)
  select(class="#{className}")
    each item in items
      option!=item.text

mixin checkbox(type, name, value, text)
  .checkboxUI.checkbox-primary
    +input(type, name, value)(id="#{name}")
    label(for='#{name}') #{text}

